node_modules
.env
.env.local
.env.*.local
dist
build
.svelte-kit
.DS_Store
*.log
*.swp
*.swo
.idea
.vscode
.env.production.local
.pnp
.cache
.parcel-cache
.next
out
.turbo
.nuxt
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.env.test.local
coverage
.nyc_output
.yarn/install-state.gz
pnpm-debug.log
